<div class="form">
  <form [formGroup]="loginForm">
    <mat-form-field class="form__input">
      <input matInput placeholder="Username" formControlName="username">
    </mat-form-field>

    <mat-form-field class="form__input">
      <input matInput placeholder="Password" formControlName="password">
    </mat-form-field>

    <button mat-stroked-button (click)="login()">Login</button>
  </form>
</div>



